body#tinymce.wp-editor .so-show-small {
	background-color: #90EE90;
}

body#tinymce.wp-editor .so-show-medium {
	background-color: #ADD8E6;
}

body#tinymce.wp-editor .so-show-large {
	background-color: #FFC0CB;
}

body#tinymce.wp-editor .so-hide-small {
	background-color: #FAFAD2;
}

body#tinymce.wp-editor .so-hide-medium {
	background-color: #F0E68C;
}

body#tinymce.wp-editor .so-hide-large {
	background-color: #F5F5DC;
}